{{ define "start" }}
{{ template "header" }}

    <a class="btn btn-primary" href="create" role="button">Add new Emplooyee</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Emain</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Juan David sierra</td>
          <td>judas3991@gmail.com</td>
          <td>Update | Delete</td>
        </tr>
      </tbody>
    </table>
{{ template "footer"}}
{{ end }}
